$calendar-brd: #ccc;
$calendar-bg: white;
$calendar-header: #eee;
$calendar-header-hov: #d2f0ff;
$calendar-header-nav: #0968d2;
$calendar-off-txt: #999;
$calendar-link: #0968d2;
$calendar-today: #666; //selected day
$calendar-today-txt: white;

$calendar-hov: #eee;
$calendar-sel: #5dbae0;
$calendar-sel-txt: white;
$calendar-sel-hov: #57add1;


$calendar-range: #beecff;
$calendar-range-select: #5dbae0;

date-picker{
    display: inline-block;
    font-size: 13px;
    .calendar{
        border-radius: 4px;
        display: inline-block;
        border: 1px solid $calendar-brd;
        padding: 3px;
        background: $calendar-bg;
    }
    .cal-container{
        width: 200px;
        height: 180px;
    }
    .cal-header{
        border-radius: 3px;
        position: relative;
        padding: 3px;
        overflow: auto;
    }
    .cal-month{
        cursor: pointer;
        display: block;
        position: absolute;
        text-align: center;
        border-radius: 2px;
        top: 2px;
        bottom: 2px;
        left: 26px;
        right: 26px;
        line-height: 22px;
        &:hover{
            background: $calendar-header-hov;
        }
    }
    .day-of-week{
        border-bottom: 1px solid $calendar-brd;
    }
    .cal-lft, .cal-rgt{
        cursor: pointer;
        border-radius: 2px;
        position: relative;
        width: 20px;
        height: 20px;
        &:before{
            position: absolute;
            content: '\25B6';
            color: $calendar-header-nav;
        }
        &:hover{
            background:  $calendar-header-hov;
        }
    }
    .cal-lft{
        float: left;
        &:before{
            transform: rotate(180deg);
            left: 4px;
            top: 2px;
        }
    }
    .cal-rgt{
        float: right;
        &:before{
            right: 4px;
            top: 3px;
        }
    }
    .cal-body{
        margin-top: 3px;
        height: 100%;
        div{
            float: left;
            width: 14.285%;
            height: 14.285%; // 6 weeks + day header
            text-align: center;
            line-height: 2;
            background: transparent;
            transition: background 300ms;
            &.off{
                color: $calendar-off-txt;
            }
            &.on, &.off{
                cursor: pointer;
                border-radius: 3px;
                &:hover{
                    background: $calendar-hov;
                }
            }
            &.today{
                background: $calendar-today;
                color: $calendar-today-txt;
            }
            &.ay-selected{
                background: $calendar-sel;
                color: $calendar-sel-txt;
                &:hover{
                    background: $calendar-sel-hov;
                }
            }
            &.ay-range.on{
                background: $calendar-range;
                border-radius: 0;
            }
            &.ay-range-first.on{
                background: $calendar-range-select;
                color: white;
                border-radius: 3px 0 0 3px;
            }
            &.ay-range-second.on{
                background: $calendar-range-select;
                color: white;
                border-radius: 0 3px 3px 0;
            }
        }
        &.year, &.decade {
            div {
                cursor: pointer;
                width: 25%;
                height: 33%;
                line-height: 5;
                border-radius: 3px;
                &:hover {
                    background: $calendar-hov;
                }
            }
        }
    }
    .cal-footer{
        text-align: center;
        padding: 5px;
        a{
            color: $calendar-link;
            text-decoration: none;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    &.minimal{
        .calendar{
            border: 0;
        }
        .cal-footer{
            display: none;
        }
    }
}

date-input, date-range-input{
    position: relative;
    //outline: none;
    label{
        span{
            font-size: 12px;
            color: #999;
            display: block;
            margin-bottom: 3px;
        }
        input{
            padding: 5px;
        }
    }
    &.invalid{
        input{
            border-color: red;
            outline-color: red;
        }
    }
    date-picker,
    date-range-picker{
        display: none;
        position: absolute;
        top: 25px;
        left: 0;
        z-index: 1;
        &.bottom-align{
            top: auto;
            bottom: 110%;
        }
        &.right-align{
            left: auto;
            right: 0;
        }
        &.show {
            display: inline-block;
        }
    }
    date-range-picker{
        width: 412px;
        date-picker{
            position: relative;
            top: auto;
            left: auto;
        }
    }
}

date-range-input{
    input{
        width: 140px;
    }
}
date-range-picker{
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $calendar-brd;
    padding: 3px;
    background: $calendar-bg;
    &.show{
        display: inline-block;
        date-picker{
            display: inline-block;
        }
    }
}