$brd: #ccc;
$bg: white;
$header: #eee;
$header-hov: #d2f0ff;
$header-nav: #0968d2;
$link: #0968d2;

$off-txt: #999;
$today: #666; //selected day
$today-txt: white;
$dsbl: white;
$dsbl-txt: #999;
$dsbl-sel: #9dc8da;
$hov: #eee;
$sel: #5dbae0;
$sel-txt: white;
$sel-hov: #57add1;

$range: #beecff;
$range-select: #5dbae0;

$warn-brd: #be4304;
$warn-bk: #fffdd5;

date-picker{
    display: inline-block;
    font-size: 13px;
    .calendar{
        border-radius: 4px;
        display: inline-block;
        border: 1px solid $brd;
        padding: 3px;
        background: $bg;
    }
    .cal-container{
        width: 200px;
        height: 180px;
    }
    .cal-header{
        border-radius: 3px;
        position: relative;
        padding: 3px;
        overflow: auto;
    }
    .cal-month{
        cursor: pointer;
        display: block;
        position: absolute;
        text-align: center;
        border-radius: 2px;
        top: 2px;
        bottom: 2px;
        left: 26px;
        right: 26px;
        line-height: 22px;
        &:hover{
            background: $header-hov;
        }
    }
    .day-of-week{
        border-bottom: 1px solid $brd;
    }
    .cal-lft, .cal-rgt{
        cursor: pointer;
        border-radius: 2px;
        position: relative;
        width: 20px;
        height: 20px;
        &:before{
            position: absolute;
            content: '\25B6';
            color: $header-nav;
        }
        &:hover{
            background:  $header-hov;
        }
    }
    .cal-lft{
        float: left;
        &:before{
            transform: rotate(180deg);
            left: 4px;
            top: 2px;
        }
    }
    .cal-rgt{
        float: right;
        &:before{
            right: 4px;
            top: 3px;
        }
    }
    .cal-body{
        margin-top: 3px;
        height: 100%;
        div{ // .day
            box-sizing: border-box;
            float: left;
            width: 14.285%;
            height: 14.285%; // 6 weeks + day header
            text-align: center;
            line-height: 2;
            background: transparent;
            transition: background 300ms;
            &.off{
                color: $off-txt;
            }
            &.on, &.off{
                cursor: pointer;
                border-radius: 3px;
                &:hover{
                    background: $hov;
                }
            }
            &.today{
                background: white;
                color: $today;
                border: 1px solid $today;
            }
            &.selected{
                background: $sel;
                color: $sel-txt;
                &:hover{
                    background: $sel-hov;
                }
            }
            &.range.on{
                background: $range;
                border-radius: 0;
            }
            &.range-first.on{
                background: $range-select;
                color: white;
                border-radius: 3px 0 0 3px;
            }
            &.range-second.on{
                background: $range-select;
                color: white;
                border-radius: 0 3px 3px 0;
            }
            &.disabled{
                background: $dsbl;
                color: $dsbl-txt;
                cursor: default;
                font-style: italic;
                &.today{
                    background: $today;
                    color: $today-txt;
                }
                &.selected{
                    background: $dsbl-sel;
                    color: $dsbl-txt;
                    &:hover{
                        background: $dsbl-sel;
                        color: $dsbl-txt;
                    }
                }
            }
        }
        &.year, &.decade {
            div {
                cursor: pointer;
                width: 25%;
                height: 33%;
                line-height: 5;
                border-radius: 3px;
                &:hover {
                    background: $hov;
                }
            }
        }
    }
    .cal-footer{
        text-align: center;
        padding: 5px;
        a{
            color: $link;
            text-decoration: none;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    &.minimal{
        .calendar{
            border: 0;
        }
        .cal-footer{
            display: none;
        }
    }
}

date-input, date-range-input{
    position: relative;
    //outline: none;
    input{
        border: 1px solid $brd;
        transition: background-color 300ms ease, border-color 300ms ease;
    }
    label{
        span{
            font-size: 12px;
            color: #999;
            display: block;
            margin-bottom: 3px;
        }
        input{
            padding: 5px;
        }
    }
    &.invalid{
        input{
            border-color: red;
            outline-color: red;
        }
    }
    &.warning{
        input{
            border-color: $warn-brd;
            background-color: $warn-bk;
        }
    }
    date-picker,
    date-range-picker{
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 1;
        &.bottom-align{
            top: auto;
            bottom: 110%;
        }
        &.right-align{
            left: auto;
            right: 0;
        }
        &.show {
            display: inline-block;
        }
    }
    date-range-picker{
        width: 412px;
        date-picker{
            position: relative;
            top: auto;
            left: auto;
        }
    }
}

date-range-input{
    input{
        width: 140px;
    }
}
date-range-picker{
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $brd;
    padding: 3px;
    background: $bg;
    &.show{
        display: inline-block;
        date-picker{
            display: inline-block;
        }
    }
}

date-range-inputs{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    date-input{
        &:first-child{
            margin-right: 2px;
        }
        &:last-child{
            margin-left: 2px;
        }
    }
}