$brd: #ccc;
$bg: white;
$header: #eee;
$header-hov: #d2f0ff;
$header-nav: #0968d2;
$link: #0968d2;

$off-txt: #999;
$today: #b1b1b1; //selected day
$today-txt: white;
$dsbl: white;
$dsbl-txt: #999;
$dsbl-sel: #9dc8da;
$hov: #dadada;
$sel: #5dbae0;
$sel-txt: white;
$sel-hov: #57add1;

$range: #beecff;
$range-select: #5dbae0;

$warn-brd: #be4304;
$warn-bk: #fffdd5;

date-picker {
    * {
        box-sizing: border-box;
    }
    display: inline-block;
    font-size: 13px;
    width: 100%;
    .calendar {
        border-radius: 4px;
        display: inline-block;
        border: 1px solid $brd;
        padding: 3px;
        background: $bg;
    }
    .cal-container {
        width: 100%;
        height: 180px;
    }
    .day-of-week {
        border-bottom: 1px solid $brd;
    }
    .cal-header {
        position: relative;
        padding: 3px;
        overflow: auto;
        display: flex;
        flex-direction: row;
    }
    .cal-month {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        vertical-align: top;
        line-height: 22px;
        flex: 1 1 auto;
    }
    .cal-lft,
    .cal-rgt,
    .cal-yr-lft,
    .cal-yr-rgt {
        border: 0;
        background: none;
        display: inline-block;
        cursor: pointer;
        position: relative;
        flex: 0 0 20px;
        height: 20px;
        vertical-align: top;
        &:hover {
            background: $header-hov;
        }
    }
    .cal-lft:before,
    .cal-rgt:before,
    .cal-yr-lft:before,
    .cal-yr-rgt:before,
    .cal-yr-lft:after,
    .cal-yr-rgt:after {
        position: absolute;
        content: "\25B6";
        color: $header-nav;
    }
    .cal-lft {
        &:before {
            transform: rotate(180deg);
            left: 4px;
            top: 2px;
        }
    }
    .cal-rgt {
        &:before {
            right: 4px;
            top: 3px;
        }
    }
    .cal-yr-lft {
        &:before {
            transform: rotate(180deg);
            left: 0;
            top: 2px;
        }
        &:after {
            transform: rotate(180deg);
            left: 6px;
            top: 2px;
        }
    }
    .cal-yr-rgt {
        &:before {
            right: 0;
            top: 3px;
        }
        &:after {
            right: 6px;
            top: 3px;
        }
    }
    .cal-body {
        margin-top: 3px;
        height: 100%;
        div {
            // .day
            box-sizing: border-box;
            float: left;
            width: 14.285%;
            height: 14.285%; // 6 weeks + day header
            text-align: center;
            line-height: 2;
            background: transparent;
            transition: background 300ms;
            span {
                width: 100%;
                height: 100%;
                display: inline-block;
                border: 1px solid transparent;
                border-radius: 3px;
            }
            &.off {
                color: $off-txt;
            }
            &.on,
            &.off {
                cursor: pointer;
                border-radius: 3px;
                &:hover {
                    background: $hov;
                }
            }
            &.today {
                background: white;
                color: $link;
                border: 1px solid $today;
            }
            &.selected {
                background: $sel;
                color: $sel-txt;
                &:hover {
                    background: $sel-hov;
                }
            }
            &.highlighted {
                //border: 1px solid blue;
            }
            &:focus {
                outline: 0;
                &:not(.disabled) {
                    span {
                        border: 1px solid blue;
                        //box-shadow: 3px 3px 3px black;
                    }
                }
            }
            &.range.on {
                background: $range;
                border-radius: 0;
            }
            &.range-first.on {
                background: $range-select;
                color: white;
                border-radius: 3px 0 0 3px;
            }
            &.range-second.on {
                background: $range-select;
                color: white;
                border-radius: 0 3px 3px 0;
            }
            &.disabled {
                background: $dsbl;
                color: $dsbl-txt;
                cursor: default;
                font-style: italic;
                &.today {
                    background: $today;
                    color: $today-txt;
                }
                &.selected {
                    background: $dsbl-sel;
                    color: $dsbl-txt;
                    &:hover {
                        background: $dsbl-sel;
                        color: $dsbl-txt;
                    }
                }
            }
        }
    }
    .cal-footer {
        text-align: center;
        padding: 5px;
        .today-button {
            background: none;
            border: 0;
            cursor: pointer;
            color: $link;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &.minimal {
        .calendar {
            border: 0;
        }
        .cal-footer {
            display: none;
        }
    }
    input.focus-loop {
        width: 10px;
        position: absolute;
        left: -10000px;
    }
}

date-picker[time] {
    .cal-footer {
        span {
            display: inline-block;
            cursor: default;
            color: #333;
            &:hover {
                text-decoration: none;
            }
        }
        input {
            display: inline-block;
            padding: 2px 6px;
        }
    }
}

date-time-input,
time-input,
date-input,
date-range-input {
    display: inline-block;
    position: relative;
    //outline: none;

    label {
        span {
            font-size: 12px;
            color: #999;
            display: block;
            margin-bottom: 3px;
        }
        .date-input-wrapper {
            position: relative;
            input {
                width: calc(100% - 45px);
            }
        }
        input {
            padding: 5px;
            border-radius: 2px;
            font-size: 13px;

            border: 1px solid $brd;
            transition: background-color 300ms ease, border-color 300ms ease;
            &::placeholder {
                font-style: italic;
            }
            &:-ms-input-placeholder {
                font-style: italic;
            }
        }
    }
    &.invalid {
        .input-wrapper input,
        input {
            border-color: red;
            outline-color: red;
        }
    }
    &.warning {
        .input-wrapper input {
            border-color: $warn-brd;
            background-color: $warn-bk;
        }
    }
    date-picker,
    date-range-picker {
        display: none;
        position: absolute;
        top: 110%;
        left: 0;
        z-index: 1;
        &.bottom-align {
            top: auto;
            bottom: 110%;
        }
        &.right-align {
            left: auto;
            right: 0;
        }
        &.show {
            display: inline-block;
        }
    }
    date-range-picker {
        width: 412px;
        date-picker {
            position: relative;
            top: auto;
            left: auto;
        }
    }
}

time-input {
    input {
        width: 70px;
        border: 1px solid #ccc;
        padding: 6px;
        border-radius: 2px;
        font-size: 13px;
    }
}

date-range-input {
    input {
        width: 50px;
    }
}

date-range-picker {
    border-radius: 4px;
    display: inline-block;
    border: 1px solid $brd;
    padding: 3px;
    background: $bg;
    &.show {
        display: inline-block;
        date-picker {
            display: inline-block;
        }
    }
}

date-range-inputs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    date-input {
        &:first-child {
            margin-right: 5px;
        }
        &:last-child {
            margin-left: 5px;
        }
    }
}

date-time-input,
time-input,
date-input {
    width: 210px;
}

date-time-input {
    & > label {
        input {
            width: calc(100% - 40px);
        }
    }
    time-input {
        width: auto;
    }
}

.icon-button {
    display: inline-block;
    position: absolute;
    right: -1px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background: none;
    cursor: pointer;
    icon-calendar {
        display: block;
        width: 18px;
        height: 18px;
    }
}

.input-error {
    font-size: 12px;
    color: red;
}
